body {
    font: Arial, Verdana;
    background-color: black;
    color: white;
    margin: 20px 20px 0px 20px;
}

h1 {
    text-align: 42px center;
    padding: 15px;
}

h2 {
    font-size: 30px black;
}

p{
   font-size: 24px; 
   padding-top: 10px;
   padding-left: 10px;
}

img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dashed 10px white;
}

div{
    min-height: 125px;
    padding: 20px;
    border: solid white 3px;
}
